{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>
    body {
        background: url('{% static 'background/bck.jpg' %}') no-repeat center center fixed;
        background-size: cover;
    }
    .custom-card {
        width: 30%;
        max-width: 600px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="custom-card card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>Хотите удалить запись "{{ object.title }}" ?</p>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                    <a class="btn btn-secondary" href="{% url 'diary:diary_list' %}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}